<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhz_blog.provider_mysql.mapper.ArticlesMapper">
    <select id="getMyArticlesWhitOutContents" parameterType="String" resultType="UserArticles">
        select article_id, article_name
        from zhz_blog.user_articles
        where article_owner = #{account}
    </select>
    <select id="getAllArticlesWhitOutContents" resultType="UserArticles">
        select article_id, article_name, article_owner
        from zhz_blog.user_articles
    </select>
    <select id="getArticleIdByOwnerAndTitle" parameterType="String" resultType="Integer">
        select article_id
        from zhz_blog.user_articles
        where article_owner = #{account}
          and article_name = #{articleName}
    </select>
    <select id="getArticleNameById" resultType="String" parameterType="Integer">
        select article_name
        from zhz_blog.user_articles
        where article_id = #{articleId}
    </select>
    <delete id="deleteByAccount" parameterType="String">
        delete
        from zhz_blog.user_articles
        where article_owner = #{account}
    </delete>
    <update id="updateArticleOwner" parameterType="String">
        update zhz_blog.user_articles
        set article_owner = #{newAccount}
        where article_owner = #{account}
    </update>
    <update id="updateArticleByArticleId" parameterType="UserArticles">
        update zhz_blog.user_articles
        set article_name    = #{article_name},
            article_content = #{article_content}
        where article_id = #{article_id}
    </update>
</mapper>
